<div class="banner" style="background-image: url(images/banner.png);">
</div>
<div class="wrapper clearfix">
    <!-- SVG Sprite -->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
        <svg version="1.1" xmlns="http://www.w2.org/2000/svg" xmlns:xlink="http://www.w2.org/1999/xlink" focusable="false">
            <symbol id="ripply-scott" viewBox="0 0 100 100">
                <circle id="ripple-shape" cx="1" cy="1" r="1" />
            </symbol>
        </svg>
    </div>

    <h2 translate>LAYOUT_CATALOG_LINK</h2>

    <div class="products clearfix">

        <ul class="effect-2 grid cs-style-2 clearfix" id="grid">

            <li ng-repeat="product in products" class="col-lg-3 col-md-4 col-sm-6 col-xs-12" product-directive product="product" >
                
            </li>

        </ul>

        <div ng-if="offset <= products.length " class="more">
            <button ng-click="MoreProduct()"  id="js-ripple-btn" class="button styl-material" >
                <span style="cursor: pointer" translate>LAYOUT_MORE_LINK</span>
                <svg class="ripple-obj" id="js-ripple">
                    <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
                </svg>
            </button>
        </div>
    </div>

    <h2 translate>LAYOUT_NEWS_LINK</h2>

    <div class="indexNews clearfix">
        <div ng-repeat="new in news" class="news col-lg-3 col-md-3 col-sm-6 col-xs-12" >
            <img ng-src="{{new.image.imagePath}}" alt="{{new.newsTitle}}">
      </div>
  </div>
      
    <h2 translate>LAYOUT_CONTACT_US_LINK</h2>

    <div class="indexForm contactsForm col-lg-6 col-md-8 col-sm-10 col-xs-12 clearfix">

        <div class="clearfix">
            <div class="inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>
                    <input class=""  placeholder="{{'LAYOUT_YOU_NAME_LINK' | translate }}" ng-blur="RegName()" ng-model="name">
                </label>
                <label ng-if="!regName" style="color: red;" translate>LAYOUT_INCORRECT_NAME_IN_FEEDBACK</label>
            </div>

            <div class="telInp inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>

                    <input class=""  placeholder="{{'LAYOUT_CONTACT_EMAIL_LINK' | translate }}" ng-blur="RegEmail()" ng-model="email">
                    <label ng-if="!regMail" style="color: red;" translate>LAYOUT_INCORRECT_MAIL</label>
                </label>
            </div>
            <div class=" inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label>

                    <input class=""  placeholder="{{'LAYOUT_CONTACT_PHONE_LINK' | translate }}" ng-blur="RegPhone()" ng-model="phone">
                    <label ng-if="!regPhone" style="color: red;" translate>LAYOUT_INCORRECT_PHONE</label>
                </label>
            </div>

        </div>
        <div class="areaWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <textarea placeholder="{{'LAYOUT_MESSAGE_LINK' | translate }}" ng-blur="RegMessage()" ng-model="message"></textarea>
            <label ng-if="!regMessage" style="color: red;" translate>LAYOUT_INCORRECT_MESSAGE</label>
        </div>
        <!--                        <input type="button" class="button" value="ОТПРАВИТЬ">-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <button class="button styl-material"  ng-click="SendMessage()">
                <span translate>LAYOUT_SEND_LINK</span>
                <svg class="ripple-obj" id="js-ripple">
                    <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
                </svg>
            </button>
        </div>

    </div>
</div>

<script>

    ripplyScott.init('.button' , 0.75);

</script>