<div class="bannerSlim" style="background-image: url('images/banner.png');
        background-position-y: 55%;">
    <div class="bannerWrap"></div>
    <h2 ng-bind="product.productTitle"></h2>
</div>
<div class="wrapper clearfix">
    <!-- SVG Sprite -->
    <div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
        <svg version="1.1" xmlns="http://www.w2.org/2000/svg" xmlns:xlink="http://www.w2.org/1999/xlink" focusable="false">
            <symbol id="ripply-scott" viewBox="0 0 100 100">
                <circle id="ripple-shape" cx="1" cy="1" r="1" />
            </symbol>
        </svg>
    </div>

    <div class="clearfix product">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 productImg">
            <img src="{{product.image.imagePath}}" alt="">
        </div>
        <div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12 productText">


            <div class="productBlock">
                <h3 class="productPrice" ng-bind-template ="${{product.productPrice}}"></h3>
                <div class="productToCart">
                    <div ng-show="!product.isInCart" class="clearfix buttonBlock">
                        <input class="input" type="text" ng-model="product.amount" ng-change="ChangeAmount(product)">
                        <button id="js-ripple-btn" class="button styl-material" ng-click="AddProduct(product)" translate>
                            LAYOUT_ADD_BASKET
                            <svg class="ripple-obj" id="js-ripple">
                                <use height="100" width="100" xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ripply-scott" class="js-ripple"></use>
                            </svg>
                        </button>
                    </div>
                    <div ng-show="product.isInCart" class="clearfix buttonBlock">
                        <div class="inCart" translate>LAYOUT_IN_BASKET</div>
                    </div>
                </div>
                <h3 translate>LAYOUT_DESCRIPTION</h3>
                <p ng-bind="product.productDescription"></p>

            </div>

        </div>

    </div>
    <div class="clearfix product">
        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 productText">
            <div md-content class="md-padding">
                <md-tabs md-border-bottom md-autoselect md-swipe-content>
                    <md-tab ng-repeat="attribute in attributes" label="{{attribute.attributeTitle}}">

                        <div class="demo-tab" style="padding: 25px; text-align: center;">
                            <div ng-bind="attribute.attributeDetails.attributeValue"></div>
                            <br/>
                        </div>

                    </md-tab>
                </md-tabs>
            </div>

        </div>
    </div>
</div>