<section>
    <div class="bannerSlim" style="background-image: url('images/banner.png'); background-position-y: 55%;">
        <div class="bannerWrap"></div>
        <h2 translate>LAYOUT_CHECKOUT</h2>
    </div>
    <div class="wrapper clearfix">
        <!-- SVG Sprite -->
        <div style="height: 0; width: 0; position: absolute; visibility: hidden;" aria-hidden="true">
            <svg version="1.1" xmlns="http://www.w2.org/2000/svg" xmlns:xlink="http://www.w2.org/1999/xlink" focusable="false">
                <symbol id="ripply-scott" viewBox="0 0 100 100">
                    <circle id="ripple-shape" cx="1" cy="1" r="1" />
                </symbol>
            </svg>
        </div>

        <div class="clearfix">

            <div class="checkoutOrder col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <h2 translate>LAYOUT_PERSONAL_INFORMATION</h2>
                <div class="clearfix">
                    <div class="inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            <input class=""  placeholder="{{'LAYOUT_YOU_NAME_LINK' | translate }}" ng-model="order.user.userName" ng-blur="RegName()">
                        </label>
                        <label ng-if="!regName" style="color: red;" translate>LAYOUT_INCORRECT_NAME</label>
                    </div>

                    <div class="telInp inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>

                            <input class=""  placeholder="{{'LAYOUT_CONTACT_EMAIL_LINK' | translate }}" ng-model="order.user.userEmail" ng-blur="RegEmail()">
                            <label ng-if="!regMail" style="color: red;" translate>LAYOUT_INCORRECT_MAIL</label>
                        </label>
                    </div>
                    <div class=" inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>

                            <input class=""  placeholder="{{'LAYOUT_CONTACT_PHONE_LINK' | translate }}" ng-model="order.user.userPhone" ng-blur="RegPhone()">
                            <label ng-if="!regPhone" style="color: red;" translate>LAYOUT_INCORRECT_PHONE</label>
                        </label>
                    </div>
                    <div class=" inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            <input ng-model="order.user.userAdress" placeholder="{{'LAYOUT_ADRESS' | translate }}">
                        </label>
                    </div>
                    <div class="areaWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <textarea ng-model="order.user.userMessage"></textarea>
                    </div>
                </div>


                <h2>Оплата:</h2>
                <div class="clearfix">
                    <div class="inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>
                            <input ng-model="order.user.numberCard"  placeholder="Номер карты">
                        </label>
                    </div>
                    <div class="telInp inputWrap col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <md-select ng-model="order.user.yearCard">
                            <md-option><em>None</em></md-option>
                            <md-option ng-repeat="year in years" ng-value="year">
                                {{year}}
                            </md-option>
                        </md-select>
                    </div>
                    <div class=" inputWrap col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <md-select ng-model="order.user.monthCard">
                            <md-option><em>None</em></md-option>
                            <md-option ng-repeat="month in monthes" ng-value="month">
                                {{month}}
                            </md-option>
                        </md-select>
                    </div>
                    <div class=" inputWrap col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label>

                            <input ng-model="order.user.cvvCard" placeholder="CVV код">
                        </label>
                    </div>
                    <div class=" inputWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <label>

                            <input ng-model="order.user.nameCard"  placeholder="Имя карты">
                        </label>
                    </div>

                </div>

                <div class="areaWrap col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <button ng-click="ConfirmOrder()" id="js-ripple-btn" class="button styl-material" translate>
                        LAYOUT_ORDER_CONFIRM
                        <svg class="ripple-obj" id="js-ripple">
                            <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
                        </svg>
                    </button>
                </div>

            </div>

            <div class="checkout col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <h2 translate>LAYOUT_ORDER_CONTENT</h2>
                <div class="clearfix productCartRow" ng-repeat="product in cart" >

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 productImg cartCol">
                        <img ng-src={{product.image.imagePath}} alt="">
                    </div>
                    <div class=" col-lg-6 col-md-4 col-sm-4 col-xs-4 productCartText cartCol">

                        <div class="productBlock">
                            <h3 ng-bind="product.productTitle"> </h3>
                        </div>

                    </div>
                    <div class="text-center col-lg-2 col-md-3 col-sm-3 col-xs-4 productCartText cartCol" ng-bind="product.amount">

                    </div>
                    <div class="text-center col-lg-2 col-md-3 col-sm-3 col-xs-4 productCartText cartCol" ng-bind-template="${{product.amount * product.productPrice}}">

                    </div>

                </div>



                <div class="clearfix coupon productCartRow">
                    <div class="clearfix buttonBlock">
                        <input class="input" ng-model="order.promoCode" placeholder="{{'LAYOUT_INPUT_PROMO' | translate }}">
                        <button ng-if="promoOk === false" id="js-ripple-btn" class="button styl-material" ng-click="PromoClick()">
                            ОК
                            <svg class="ripple-obj" id="js-ripple">
                                <use height="100" width="100" xlink:href="#ripply-scott" class="js-ripple"></use>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="text-left clearfix cartAllCount productCartRow">

                    <div class="empty col-lg-2 col-md-2 col-sm-2 col-xs-12 productImg cartCol">

                    </div>
                    <div class="text-left col-lg-6 col-md-4 col-sm-4 col-xs-4 productCartText cartCol">

                        <div class="productBlock">
                            <h3 translate>LAYOUT_DELIVERY</h3>
                        </div>

                    </div>

                    <div class="text-center col-lg-2 col-md-3 col-sm-3 col-xs-4 productCartText cartCol" ng-bind-template="$198">

                    </div>



                </div>

                <div class="clearfix cartAllCount productCartRow">


                    <div class=" col-lg-6 col-md-4 col-sm-4 col-xs-4 productCartText cartCol">

                        <div class="productBlock">
                            <h3 translate>LAYOUT_TOTAL</h3>
                        </div>

                    </div>

                    <div class="text-center col-lg-2 col-md-3 col-sm-3 col-xs-4 productCartText cartCol" ng-bind="cart.length">

                    </div>

                    <div class="text-center col-lg-2 col-md-3 col-sm-3 col-xs-4 productCartText cartCol" ng-bind-template="${{Total}}">

                    </div>


                </div>

                <div ng-if="promoOk" class="clearfix cartAllCount productCartRow">


                    <div class=" col-lg-6 col-md-4 col-sm-4 col-xs-4 productCartText cartCol">

                        <div class="productBlock">
                            <h3>{{'LAYOUT_TOTAL' | translate}} WITH DISCOUNT</h3>
                        </div>

                    </div>

                    <div class="text-center col-lg-2 col-md-3 col-sm-3 col-xs-4 productCartText cartCol" ng-bind="cart.length">

                    </div>

                    <div class="text-center col-lg-2 col-md-3 col-sm-3 col-xs-4 productCartText cartCol" ng-bind-template="${{Total * (1 - discount/100) + 198}}">

                    </div>


                </div>

            </div>

        </div>
    </div>
</section>